Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

test: add diagnostic tests for exception messages in boolean type handling
  src/pyvider/cty/types/primitives/bool.py
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

test: add diagnostic tests for exception messages in boolean type handling
  src/pyvider/cty/types/primitives/bool.py
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore(cty): update project structure and module organization
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

chore(cty): update project structure and module organization
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_cache_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_cache_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

qualify(inference_cache): add safety tests for inference cache behavior under concurrent access
  tests/conversion/test_inference_cache_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

qualify(inference_cache): add safety tests for inference cache behavior under concurrent access
  tests/conversion/test_inference_cache_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/_version.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/_version.py
Owners: @provide-io/python-maintainers

chore(cty): update version file for auto-commit
  src/pyvider/cty/_version.py
Owners: @provide-io/python-maintainers

chore(cty): update version file for auto-commit
  src/pyvider/cty/_version.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  tests/codec/test_dynamic_wire_protocol.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  tests/codec/test_dynamic_wire_protocol.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  VERSION
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  VERSION
Owners: @provide-io/engineering

chore(cty): update codec module with auto-generated changes
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

chore(cty): update auto-committed source files
  src/pyvider/cty/codec.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
