Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update project documentation and test infrastructure
  API_STABILITY.md
  CONTRIBUTING.md
  SECURITY.md
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  tests/compatibility/test_tofusoup_compat.py
  tests/conftest.py
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_marks_properties.py
  tests/property_based/test_memory_pressure.py
  tests/property_based/test_numeric_attacks.py
  tests/property_based/test_spec_compliance.py
  tests/property_based/test_unification_properties.py
Owners: @provide-io/documentation, @provide-io/python-maintainers, @provide-io/qa-team

chore: update project documentation and test infrastructure
  API_STABILITY.md
  CONTRIBUTING.md
  SECURITY.md
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  tests/compatibility/test_tofusoup_compat.py
  tests/conftest.py
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_marks_properties.py
  tests/property_based/test_memory_pressure.py
  tests/property_based/test_numeric_attacks.py
  tests/property_based/test_spec_compliance.py
  tests/property_based/test_unification_properties.py
Owners: @provide-io/documentation, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  pyproject.toml
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_special_value_attacks.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  pyproject.toml
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_special_value_attacks.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_comparison_functions.py
  tests/functions/test_numeric_functions.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_comparison_functions.py
  tests/functions/test_numeric_functions.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_bytes_stdlib_functions.py
  tests/functions/test_collection_creation_functions.py
  tests/functions/test_collection_query_functions.py
  tests/functions/test_collection_stdlib_functions.py
  tests/functions/test_collection_transform_functions.py
  tests/functions/test_datetime_stdlib_functions.py
  tests/functions/test_encoding_stdlib_functions.py
  tests/functions/test_stdlib_parity.py
  tests/functions/test_string_functions.py
  tests/functions/test_structural_stdlib_functions.py
  tests/test_error_context_integration.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_bytes_stdlib_functions.py
  tests/functions/test_collection_creation_functions.py
  tests/functions/test_collection_query_functions.py
  tests/functions/test_collection_stdlib_functions.py
  tests/functions/test_collection_transform_functions.py
  tests/functions/test_datetime_stdlib_functions.py
  tests/functions/test_encoding_stdlib_functions.py
  tests/functions/test_stdlib_parity.py
  tests/functions/test_string_functions.py
  tests/functions/test_structural_stdlib_functions.py
  tests/test_error_context_integration.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_string_advanced_functions.py
  tests/functions/test_string_basic_functions.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_string_advanced_functions.py
  tests/functions/test_string_basic_functions.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  tests/list/test_cty_list_edge_cases.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  tests/list/test_cty_list_edge_cases.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

qualify(adversarial): add property-based fuzzing tests for adversarial inputs
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_extreme_scale.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(pyproject): update dependencies and configuration
  pyproject.toml
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  tests/functions/test_bytes_stdlib_functions.py
  tests/functions/test_collection_creation_functions.py
  tests/functions/test_collection_query_functions.py
  tests/functions/test_collection_stdlib_functions.py
  tests/functions/test_collection_transform_functions.py
  tests/functions/test_comparison_functions.py
  tests/functions/test_datetime_stdlib_functions.py
  tests/functions/test_encoding_stdlib_functions.py
  tests/functions/test_numeric_functions.py
  tests/functions/test_stdlib_parity.py
  tests/functions/test_string_advanced_functions.py
  tests/functions/test_string_basic_functions.py
  tests/functions/test_structural_stdlib_functions.py
  tests/list/test_cty_list_edge_cases.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_special_value_attacks.py
  tests/test_error_context_integration.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

qualify(adversarial): add property-based fuzzing tests for adversarial inputs
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_extreme_scale.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(pyproject): update dependencies and configuration
  pyproject.toml
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  tests/functions/test_bytes_stdlib_functions.py
  tests/functions/test_collection_creation_functions.py
  tests/functions/test_collection_query_functions.py
  tests/functions/test_collection_stdlib_functions.py
  tests/functions/test_collection_transform_functions.py
  tests/functions/test_comparison_functions.py
  tests/functions/test_datetime_stdlib_functions.py
  tests/functions/test_encoding_stdlib_functions.py
  tests/functions/test_numeric_functions.py
  tests/functions/test_stdlib_parity.py
  tests/functions/test_string_advanced_functions.py
  tests/functions/test_string_basic_functions.py
  tests/functions/test_structural_stdlib_functions.py
  tests/list/test_cty_list_edge_cases.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_special_value_attacks.py
  tests/test_error_context_integration.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/__init__.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/context/validation_context.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/conversion/type_encoder.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/functions/structural_functions.py
  src/pyvider/cty/marks.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/number.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/__init__.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/context/validation_context.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/conversion/type_encoder.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/functions/structural_functions.py
  src/pyvider/cty/marks.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/number.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/values/test_value_edge_cases.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/values/test_value_edge_cases.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers
