Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

Update ci-new.yml to use ci-tooling@v0.0.0
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

Update ci-new.yml to use ci-tooling@v0.0.0
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

Add complete CI migration test using shared tooling
  .github/workflows/ci-migrated.yml
Owners: @provide-io/devops

Add complete CI migration test using shared tooling
  .github/workflows/ci-migrated.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

trigger CI test
  README.md
Owners: @provide-io/documentation

trigger CI test
  README.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

docs: update API documentation structure and content
  CLAUDE.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/documentation, @provide-io/devops, @provide-io/python-maintainers

docs: update API documentation structure and content
  CLAUDE.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/documentation, @provide-io/devops, @provide-io/python-maintainers

chore(ci): update CI workflow configuration
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

chore: update mkdocs configuration with backup file handling
  mkdocs.yml
Owners: @provide-io/devops

chore: update example scripts and verification utilities
  compatibility/python/generator.py
  examples/ch07_structural_types.py
  examples/ch13_path_navigation.py
  examples/run_all_examples.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

chore: update mkdocs configuration with backup file handling
  mkdocs.yml
Owners: @provide-io/devops

chore: update example scripts and verification utilities
  compatibility/python/generator.py
  examples/ch07_structural_types.py
  examples/ch13_path_navigation.py
  examples/run_all_examples.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

chore(ci): update CI workflow configuration
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

chore(ci): update ci-new.yml to use ci-tooling@v0.0.0
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

chore(mkdocs): auto-commit configuration update
  mkdocs.yml
Owners: @provide-io/devops

chore(ci): update ci-new.yml to use ci-tooling@v0.0.0
  .github/workflows/ci-new.yml
Owners: @provide-io/devops

qualify(ci): Add complete CI migration test using shared tooling
  .github/workflows/ci-migrated.yml
Owners: @provide-io/devops

chore(mkdocs): auto-commit configuration update
  mkdocs.yml
Owners: @provide-io/devops

qualify(ci): Add complete CI migration test using shared tooling
  .github/workflows/ci-migrated.yml
Owners: @provide-io/devops

docs: update API documentation structure and content
  README.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

docs: update API documentation structure and content
  README.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
