Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/types/primitives/test_bool.py
  tests/types/primitives/test_bool_coverage.py
  tests/types/primitives/test_number.py
  tests/types/primitives/test_number_coverage.py
  tests/types/primitives/test_string_coverage.py
  tests/types/primitives/test_string_normalization.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/types/primitives/test_bool.py
  tests/types/primitives/test_bool_coverage.py
  tests/types/primitives/test_number.py
  tests/types/primitives/test_number_coverage.py
  tests/types/primitives/test_string_coverage.py
  tests/types/primitives/test_string_normalization.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/list/test_cty_list_comparison.py
  tests/list/test_cty_list_operations.py
  tests/values/test_cty_values_base.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/list/test_cty_list_comparison.py
  tests/list/test_cty_list_operations.py
  tests/values/test_cty_values_base.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/codec/test_codec_roundtrip.py
  tests/conversion/test_inference.py
  tests/exceptions/test_validation_exceptions.py
  tests/object/test_object_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/codec/test_codec_roundtrip.py
  tests/conversion/test_inference.py
  tests/exceptions/test_validation_exceptions.py
  tests/object/test_object_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  assert_conversion_guide.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  assert_conversion_guide.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/values/base.py
  tests/conversion/test_inference.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/values/base.py
  tests/conversion/test_inference.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/base.py
  src/pyvider/cty/values/base.py
  tests/compatibility/test_go_cty_compat.py
  tests/compatibility/test_tofusoup_compat.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/base.py
  src/pyvider/cty/values/base.py
  tests/compatibility/test_go_cty_compat.py
  tests/compatibility/test_tofusoup_compat.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/py.typed
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/py.typed
Owners: @provide-io/python-maintainers

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
