Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  SECURITY.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  SECURITY.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  API_STABILITY.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  API_STABILITY.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_marks_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_marks_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_unification_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_unification_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_spec_compliance.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_spec_compliance.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_marks_properties.py
  tests/property_based/test_spec_compliance.py
  tests/property_based/test_unification_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_marks_properties.py
  tests/property_based/test_spec_compliance.py
  tests/property_based/test_unification_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_spec_compliance.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_codec_fuzzing.py
  tests/property_based/test_spec_compliance.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_numeric_attacks.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_numeric_attacks.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_memory_pressure.py
  tests/property_based/test_numeric_attacks.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_adversarial_fuzzing.py
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_extreme_scale.py
  tests/property_based/test_memory_pressure.py
  tests/property_based/test_numeric_attacks.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
