Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  pyproject.toml
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  CLAUDE.md
  CONTRIBUTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

chore: update test configuration and fixtures for consistency
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update test configuration and fixtures for consistency
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update test configuration and fixtures for consistency
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update project configuration and add memory pressure test scaffold
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore: update project configuration and add memory pressure test scaffold
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore: update test configuration and fixtures for consistency
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update project documentation files with auto-generated content
  CLAUDE.md
  CONTRIBUTING.md
Owners: @provide-io/documentation

chore: update project documentation files with auto-generated content
  CLAUDE.md
  CONTRIBUTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  mutants/pyproject.toml
  mutants/src/pyvider/cty/validation/recursion.py
  mutants/tests/conftest.py
  mutants/tests/property_based/test_collections_properties.py
  mutants/tests/property_based/test_exception_coverage.py
  mutants/tests/property_based/test_memory_pressure.py
  mutants/tests/property_based/test_schema_validation.py
Owners: @provide-io/python-maintainers, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  pyproject.toml
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .gitignore
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  DOCUMENTATION_RESTRUCTURE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  README.md
  docs/guide/ch01_welcome.md
  docs/guide/ch02_getting_started.md
  docs/guide/ch15_api_reference.md
  docs/guide/ch15_terraform_interop.md
  docs/reference/glossary.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/functions.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/types.md
  docs/user-guide/core-concepts/values.md
  docs/user-guide/type-reference/capsule.md
  docs/user-guide/type-reference/collections.md
  docs/user-guide/type-reference/dynamic.md
  docs/user-guide/type-reference/primitives.md
  docs/user-guide/type-reference/structural.md
  examples/advanced/functions.py
  examples/advanced/marks.py
  examples/advanced/path-navigation.py
  examples/advanced/serialization.py
  examples/advanced/terraform-interop.py
  examples/ch15_terraform_interop.py
  examples/getting-started/quick-start.py
  examples/types/capsule.py
  examples/types/collections.py
  examples/types/dynamic.py
  examples/types/primitives.py
  examples/types/structural.py
Owners: @provide-io/documentation, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/getting-started/examples.md
  docs/getting-started/first-type-system.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/how-to/index.md
  docs/index.md
  docs/reference/release-notes.md
  docs/user-guide/index.md
  mkdocs.yml
Owners: @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  docs/getting-started/examples.md
  docs/guide/ch01_welcome.md
  docs/guide/ch02_getting_started.md
  docs/how-to/index.md
  docs/index.md
  mkdocs.yml
Owners: @provide-io/engineering, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  DOCUMENTATION_RESTRUCTURE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  examples/run_all_examples.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  examples/advanced/__init__.py
  examples/advanced/functions.py
  examples/advanced/marks.py
  examples/advanced/path-navigation.py
  examples/advanced/serialization.py
  examples/advanced/terraform-interop.py
  examples/core-concepts/__init__.py
  examples/getting-started/__init__.py
  examples/getting-started/quick-start.py
  examples/types/__init__.py
  examples/types/capsule.py
  examples/types/collections.py
  examples/types/dynamic.py
  examples/types/primitives.py
  examples/types/structural.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/how-to/validate-data.md
Owners: @provide-io/documentation

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
