Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/runtime.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: auto-commit configuration and dependency updates
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

qualify(inference): add concurrency safety tests for inference conversion logic
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: auto-commit configuration and dependency updates
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/config/runtime.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore(cty): auto-commit cache implementation updates
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

qualify(inference): add concurrency safety tests for inference conversion logic
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(cty): auto-commit cache implementation updates
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

Clean up pyvider-cty workflows and migrate to ci-tooling
  .github/workflows/ci-migrated.yml
  .github/workflows/ci-new.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .github/workflows/test-simple.yml
Owners: @provide-io/devops

Clean up pyvider-cty workflows and migrate to ci-tooling
  .github/workflows/ci-migrated.yml
  .github/workflows/ci-new.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .github/workflows/test-simple.yml
Owners: @provide-io/devops

Fix ci-tooling version to v0.0.0
  .github/workflows/ci.yml
Owners: @provide-io/devops

Fix ci-tooling version to v0.0.0
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update ci-tooling to v0.1.0 with working actions
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update ci-tooling to v0.1.0 with working actions
  .github/workflows/ci.yml
Owners: @provide-io/devops

Fix provide-testkit dependency configuration
  pyproject.toml
Owners: @provide-io/python-maintainers

Fix provide-testkit dependency configuration
  pyproject.toml
Owners: @provide-io/python-maintainers

Fix provide-foundation workspace dependency
  pyproject.toml
Owners: @provide-io/python-maintainers

Fix provide-foundation workspace dependency
  pyproject.toml
Owners: @provide-io/python-maintainers

Fix repository URLs for provide-foundation and provide-testkit
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Fix repository URLs for provide-foundation and provide-testkit
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Add quality dependency group to fix ruff availability in CI
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Add quality dependency group to fix ruff availability in CI
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Fix CI workflow issues and ensure code quality tools are available
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Owners: @provide-io/devops, @provide-io/python-maintainers

Fix CI workflow issues and ensure code quality tools are available
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Owners: @provide-io/devops, @provide-io/python-maintainers

Convert dependency-groups to optional-dependencies for CI compatibility
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Convert dependency-groups to optional-dependencies for CI compatibility
  pyproject.toml
  uv.lock
Owners: @provide-io/python-maintainers

Update CI workflow to use ci-tooling v0.2.0 with non-blocking quality checks
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update CI workflow to use ci-tooling v0.2.0 with non-blocking quality checks
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update CI to use v0.2.1 with corrected non-blocking quality checks
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update CI to use v0.2.1 with corrected non-blocking quality checks
  .github/workflows/ci.yml
Owners: @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
