Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  docs/how-to/create-custom-types.md
  docs/how-to/serialize-values.md
  docs/how-to/work-with-terraform.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/how-to/index.md
  docs/how-to/migrate-from-go-cty.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/dev/DOCUMENTATION_RESTRUCTURE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
  README.md
  docs/api/codec.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/core-concepts/types.md
  docs/user-guide/core-concepts/values.md
  mkdocs.yml
Owners: @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/getting-started/installation.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
  pyproject.toml
Owners: @provide-io/documentation, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  docs/user-guide/core-concepts/validation.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/dev/archive/DOCUMENTATION_RESTRUCTURE.md
  docs/user-guide/core-concepts/conversion.md
  docs/user-guide/index.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  API_STABILITY.md
  SECURITY.md
  coverage.json
  docs/how-to/serialize-values.md
  docs/reference/go-cty-comparison.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  CHANGELOG.md
  SECURITY.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  API_STABILITY.md
  MUTATION_TESTING.md
  SECURITY.md
  docs/dev/archive/DOCUMENTATION_RESTRUCTURE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CLAUDE.md
  CONTRIBUTING.md
  docs/reference/glossary.md
  examples/README.md
  src/pyvider/cty/README.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
  README.md
  mutants/src/pyvider/cty/README.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
  README.md
  docs/getting-started/quick-start.md
  docs/reference/go-cty-comparison.md
  mkdocs.yml
  src/pyvider/cty/README.md
Owners: @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  CHANGELOG.md
  CLAUDE.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/functions.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/functions.md
  docs/api/validation.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/codec.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/values.md
  examples/README.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/types/capsule.md
  docs/api/types/index.md
  docs/api/validation.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/user-guide/type-reference/structural.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/reference/glossary.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  README.md
  examples/README.md
  examples/core-concepts/__init__.py
  mkdocs.yml
Owners: @provide-io/documentation, @provide-io/engineering, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  docs/api/codec.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/index.md
  docs/api/validation.md
  docs/reference/go-cty-comparison.md
  docs/user-guide/advanced/serialization.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/reference/troubleshooting.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/user-guide/advanced/terraform-interop.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/how-to/migrate-from-go-cty.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/core-concepts/types.md
  docs/user-guide/type-reference/capsule.md
  docs/user-guide/type-reference/collections.md
  docs/user-guide/type-reference/dynamic.md
  docs/user-guide/type-reference/primitives.md
  docs/user-guide/type-reference/structural.md
  mkdocs.yml
Owners: @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
  docs/reference/release-notes.md
Owners: @provide-io/documentation

chore(mkdocs): auto-commit configuration update
  mkdocs.yml
Owners: @provide-io/devops

chore: update project configuration via automated commit pipeline
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: update project configuration and ignore rules for documentation site
  .gitignore
  mkdocs.yml
Owners: @provide-io/engineering, @provide-io/devops

chore: auto-commit documentation and configuration updates
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/api/codec.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/capsule.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
  docs/getting-started/quick-start.md
  docs/how-to/migrate-from-go-cty.md
  docs/reference/glossary.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/functions.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/types.md
  docs/user-guide/type-reference/capsule.md
  docs/user-guide/type-reference/collections.md
  docs/user-guide/type-reference/dynamic.md
  docs/user-guide/type-reference/primitives.md
  docs/user-guide/type-reference/structural.md
  examples/README.md
  examples/core-concepts/__init__.py
  mkdocs.yml
  src/pyvider/cty/README.md
Owners: @provide-io/documentation, @provide-io/engineering, @provide-io/devops

chore: update project configuration via automated commit pipeline
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: auto-commit documentation and configuration updates
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/api/codec.md
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/capsule.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
  docs/getting-started/quick-start.md
  docs/how-to/migrate-from-go-cty.md
  docs/reference/glossary.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/functions.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/types.md
  docs/user-guide/type-reference/capsule.md
  docs/user-guide/type-reference/collections.md
  docs/user-guide/type-reference/dynamic.md
  docs/user-guide/type-reference/primitives.md
  docs/user-guide/type-reference/structural.md
  examples/README.md
  examples/core-concepts/__init__.py
  mkdocs.yml
  src/pyvider/cty/README.md
Owners: @provide-io/documentation, @provide-io/engineering, @provide-io/devops

chore: update project configuration and ignore rules for documentation site
  .gitignore
  mkdocs.yml
Owners: @provide-io/engineering, @provide-io/devops

chore(mkdocs): auto-commit configuration update
  mkdocs.yml
Owners: @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
