Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

chore(cty): update codec module with auto-generated changes
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

feat: Standardize file headers and footers
  examples/__init__.py
  examples/ch02_getting_started.py
  examples/ch05_primitive_types.py
  examples/ch06_collection_types.py
  examples/ch07_structural_types.py
  examples/ch08_dynamic_types.py
  examples/ch09_capsule_types.py
  examples/ch10_marks.py
  examples/ch11_functions.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  examples/example_utils.py
  examples/run_all_examples.py
  src/pyvider/__init__.py
  src/pyvider/cty/_version.py
  tests/error_context_integration_test.py
  tests/functions/__init__.py
  tests/list/test_cty_collections_list.py
  tests/list/test_cty_collections_list_improve.py
  tests/object/test_object_equality.py
  tests/property_based/__init__.py
  tests/set/test_cty_set_base.py
  tests/types/test_capsule.py
  tests/values/test_cty_values_special.py
  verify_headers_footers.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

chore(cty): update auto-committed source files
  src/pyvider/cty/codec.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

test: add dynamic wire protocol codec tests
  src/pyvider/cty/codec.py
  tests/codec/test_dynamic_wire_protocol.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

feat: Standardize file headers and footers
  examples/__init__.py
  examples/ch02_getting_started.py
  examples/ch05_primitive_types.py
  examples/ch06_collection_types.py
  examples/ch07_structural_types.py
  examples/ch08_dynamic_types.py
  examples/ch09_capsule_types.py
  examples/ch10_marks.py
  examples/ch11_functions.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  examples/example_utils.py
  examples/run_all_examples.py
  src/pyvider/__init__.py
  src/pyvider/cty/_version.py
  tests/error_context_integration_test.py
  tests/functions/__init__.py
  tests/list/test_cty_collections_list.py
  tests/list/test_cty_collections_list_improve.py
  tests/object/test_object_equality.py
  tests/property_based/__init__.py
  tests/set/test_cty_set_base.py
  tests/types/test_capsule.py
  tests/values/test_cty_values_special.py
  verify_headers_footers.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

test: add dynamic wire protocol codec tests
  src/pyvider/cty/codec.py
  tests/codec/test_dynamic_wire_protocol.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore: update version file for auto-commit cycle
  VERSION
Owners: @provide-io/engineering

chore: update version file for auto-commit cycle
  VERSION
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/types/structural/object.py
  tests/compatibility/test_tofusoup_compat.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/types/structural/object.py
  tests/compatibility/test_tofusoup_compat.py
  tests/conftest.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  uv.lock
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  uv.lock
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/adapter.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/adapter.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/adapter.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/adapter.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
Owners: @provide-io/python-maintainers
