Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .mutmut-config.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .mutmut-config.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  MUTATION_TESTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_numeric_refined_unknowns.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_comparison_refined_unknowns.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/types/test_capsule_edge_cases.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/types/test_map_validation.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  tests/functions/test_comparison_refined_unknowns.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  .github/workflows/mutation-testing.yml
  tests/functions/test_comparison_refined_unknowns.py
Owners: @provide-io/engineering, @provide-io/devops, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  mutants/mutmut-stats.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  .github/workflows/mutation-testing.yml
  tests/conftest.py
Owners: @provide-io/engineering, @provide-io/devops, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .github/workflows/mutation-testing.yml
  mutants/tests/conftest.py
Owners: @provide-io/devops, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/conftest.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_collections_properties.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  run-coverage.sh
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/property_based/test_schema_validation.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(mutation): configure mutation testing infrastructure
  .github/workflows/mutation-testing.yml
  .mutmut-config.py
  MUTATION_TESTING.md
  src/pyvider/cty/validation.py
  tests/functions/test_comparison_refined_unknowns.py
  tests/functions/test_numeric_refined_unknowns.py
  tests/property_based/test_exception_coverage.py
  tests/types/test_capsule_edge_cases.py
  tests/types/test_map_validation.py
  tests/values/test_value_edge_cases.py
Owners: @provide-io/devops, @provide-io/engineering, @provide-io/documentation, @provide-io/python-maintainers, @provide-io/qa-team

qualify(property_based): add property-based tests for collections and exception coverage
  tests/conftest.py
  tests/property_based/test_collections_properties.py
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

qualify(codec): add comprehensive codec test coverage and hardening
  .github/workflows/mutation-testing.yml
  tests/conftest.py
Owners: @provide-io/devops, @provide-io/qa-team, @provide-io/python-maintainers

qualify(codec): add comprehensive codec test coverage and hardening
  .github/workflows/mutation-testing.yml
  tests/conftest.py
Owners: @provide-io/devops, @provide-io/qa-team, @provide-io/python-maintainers

chore: update coverage script and property-based tests for exception and schema validation
  run-coverage.sh
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_schema_validation.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

chore(cty): auto-commit maintenance updates
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

chore(cty): auto-commit maintenance updates
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

chore: update coverage script and property-based tests for exception and schema validation
  run-coverage.sh
  tests/property_based/test_exception_coverage.py
  tests/property_based/test_schema_validation.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

qualify(property_based): add property-based tests for collections and exception coverage
  tests/conftest.py
  tests/property_based/test_collections_properties.py
  tests/property_based/test_exception_coverage.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(mutation): configure mutation testing infrastructure
  .github/workflows/mutation-testing.yml
  .mutmut-config.py
  MUTATION_TESTING.md
  src/pyvider/cty/validation.py
  tests/functions/test_comparison_refined_unknowns.py
  tests/functions/test_numeric_refined_unknowns.py
  tests/property_based/test_exception_coverage.py
  tests/types/test_capsule_edge_cases.py
  tests/types/test_map_validation.py
  tests/values/test_value_edge_cases.py
Owners: @provide-io/devops, @provide-io/engineering, @provide-io/documentation, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  tests/conftest.py
  uv.lock
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/validation/recursion.py
  tests/property_based/test_memory_pressure.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
