Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  docs/api/context.md
  docs/api/validation.md
  docs/getting-started/first-type-system.md
  docs/how-to/validate-data.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/core-concepts/validation.md
  docs/user-guide/type-reference/structural.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/reference/go-cty-comparison.md
  docs/reference/troubleshooting.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/how-to/create-custom-types.md
  docs/how-to/migrate-from-go-cty.md
  docs/how-to/serialize-values.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/conversion.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/user-guide/core-concepts/validation.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  CONTRIBUTING.md
  docs/reference/go-cty-comparison.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/type-reference/collections.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CONTRIBUTING.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  examples/advanced/marks.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/how-to/migrate-from-go-cty.md
  docs/user-guide/advanced/terraform-interop.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CHANGELOG.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  docs/how-to/migrate-from-go-cty.md
  docs/reference/go-cty-comparison.md
  docs/user-guide/core-concepts/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/reference/configuration.md
  examples/README.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/index.md
  docs/api/parser.md
  docs/user-guide/index.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  test_unknown_bug.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  test_unknown_bug.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  tests/object/test_object_unknown_fields.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/object/test_object_unknown_fields.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

test: add test for unknown bug scenario
  test_unknown_bug.py
Owners: @provide-io/engineering

chore: update documentation and examples for marks and type reference
  CONTRIBUTING.md
  docs/api/context.md
  docs/api/index.md
  docs/api/parser.md
  docs/how-to/migrate-from-go-cty.md
  docs/reference/configuration.md
  docs/reference/go-cty-comparison.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/values.md
  docs/user-guide/index.md
  docs/user-guide/type-reference/collections.md
  examples/README.md
  examples/advanced/marks.py
Owners: @provide-io/documentation, @provide-io/engineering

chore: update documentation and examples for marks and type reference
  CONTRIBUTING.md
  docs/api/context.md
  docs/api/index.md
  docs/api/parser.md
  docs/how-to/migrate-from-go-cty.md
  docs/reference/configuration.md
  docs/reference/go-cty-comparison.md
  docs/user-guide/advanced/marks.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/values.md
  docs/user-guide/index.md
  docs/user-guide/type-reference/collections.md
  examples/README.md
  examples/advanced/marks.py
Owners: @provide-io/documentation, @provide-io/engineering

test: add tests for unknown fields handling in object module
  test_unknown_bug.py
  tests/object/test_object_unknown_fields.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

test: add tests for unknown fields handling in object module
  test_unknown_bug.py
  tests/object/test_object_unknown_fields.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

docs: update documentation for type system, validation, and migration guides
  docs/api/context.md
  docs/api/validation.md
  docs/getting-started/first-type-system.md
  docs/how-to/create-custom-types.md
  docs/how-to/migrate-from-go-cty.md
  docs/how-to/serialize-values.md
  docs/how-to/validate-data.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/conversion.md
  docs/user-guide/core-concepts/validation.md
  docs/user-guide/type-reference/structural.md
Owners: @provide-io/documentation

docs: update documentation for type system, validation, and migration guides
  docs/api/context.md
  docs/api/validation.md
  docs/getting-started/first-type-system.md
  docs/how-to/create-custom-types.md
  docs/how-to/migrate-from-go-cty.md
  docs/how-to/serialize-values.md
  docs/how-to/validate-data.md
  docs/reference/go-cty-comparison.md
  docs/reference/release-notes.md
  docs/reference/troubleshooting.md
  docs/user-guide/advanced/path-navigation.md
  docs/user-guide/advanced/serialization.md
  docs/user-guide/advanced/terraform-interop.md
  docs/user-guide/core-concepts/conversion.md
  docs/user-guide/core-concepts/validation.md
  docs/user-guide/type-reference/structural.md
Owners: @provide-io/documentation

test: add test for unknown bug scenario
  test_unknown_bug.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  VERSION
Owners: @provide-io/engineering

chore: update version file for auto-commit cycle
  VERSION
Owners: @provide-io/engineering

chore: update version file for auto-commit cycle
  VERSION
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .gitignore
  pyproject.toml
Owners: @provide-io/engineering, @provide-io/python-maintainers

chunker
  chunker/HANDOFF.md
  chunker/conform.py
  chunker/orchestrator.py
Owners: @provide-io/documentation, @provide-io/engineering

scaffold(chunker): establish initial module structure and entry points
  chunker/conform.py
  chunker/orchestrator.py
Owners: @provide-io/engineering

scaffold(chunker): establish initial module structure and entry points
  chunker/conform.py
  chunker/orchestrator.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
Owners: @provide-io/python-maintainers

scaffold(cty): initialize exception hierarchy for cty module
  src/pyvider/cty/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
Owners: @provide-io/python-maintainers

scaffold(cty): initialize exception hierarchy for cty module
  src/pyvider/cty/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/encoding.py
Owners: @provide-io/python-maintainers

docs: Add comprehensive architectural analysis and review
  ARCHITECTURAL_ANALYSIS.md
Owners: @provide-io/documentation

docs: Add comprehensive architectural analysis and review
  ARCHITECTURAL_ANALYSIS.md
Owners: @provide-io/documentation

docs: Add comprehensive supplementary architectural analysis
  SUPPLEMENTARY_ANALYSIS.md
Owners: @provide-io/documentation

docs: Add comprehensive supplementary architectural analysis
  SUPPLEMENTARY_ANALYSIS.md
Owners: @provide-io/documentation

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
