Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

chore: update environment and dependency configuration
  env.sh
  pyproject.toml
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

chore: update environment and dependency configuration
  env.sh
  pyproject.toml
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

chore: update CI/CD infrastructure and project templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  validate-pipeline.sh
Owners: @provide-io/devops, @provide-io/engineering

chore: update CI/CD infrastructure and project templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  validate-pipeline.sh
Owners: @provide-io/devops, @provide-io/engineering

chore: update CI and release workflows and related configuration files
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-simple.yml
  .gitignore
  .secrets.example
  act-colima.sh
Owners: @provide-io/devops, @provide-io/engineering

chore: update CI and release workflows and related configuration files
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-simple.yml
  .gitignore
  .secrets.example
  act-colima.sh
Owners: @provide-io/devops, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  VERSION
  pyproject.toml
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  VERSION
  pyproject.toml
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

chore(version): update version to 0.1.0
  VERSION
  pyproject.toml
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

chore(version): update version to 0.1.0
  VERSION
  pyproject.toml
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  CLAUDE.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  CLAUDE.md
Owners: @provide-io/engineering, @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/error_context_integration_test.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/error_context_integration_test.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  tests/error_context_integration_test.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/exceptions/validation.py
  tests/error_context_integration_test.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
