Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
  wrknv.toml
Owners: @provide-io/python-maintainers, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
  wrknv.toml
Owners: @provide-io/python-maintainers, @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/string_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/comparison_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/comparison_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/collection_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/compatibility/test_go_cty_compat.py
  tests/coverage/test_final_coverage_push.py
  tests/values/test_values_extra.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/compatibility/test_go_cty_compat.py
  tests/coverage/test_final_coverage_push.py
  tests/values/test_values_extra.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_refined_unknowns_integration.py
  tests/functions/test_stdlib_parity.py
  tests/object/test_object_coverage.py
  tests/path/test_cty_path.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  tests/functions/test_refined_unknowns_integration.py
  tests/functions/test_stdlib_parity.py
  tests/object/test_object_coverage.py
  tests/path/test_cty_path.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore: update environment configuration files for consistency
  env.sh
  pyproject.toml
  wrkenv.toml
Owners: @provide-io/engineering, @provide-io/python-maintainers

chore(cty): update conversion and object modules with auto-committed changes
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

chore: update environment configuration files for consistency
  env.sh
  pyproject.toml
  wrkenv.toml
Owners: @provide-io/engineering, @provide-io/python-maintainers

chore(cty): update conversion and object modules with auto-committed changes
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  compatibility/python/generator.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  compatibility/python/generator.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/functions/comparison_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/functions/comparison_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/explicit.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/type_encoder.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/type_encoder.py
Owners: @provide-io/python-maintainers
