Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

chore: update CI automation scripts and ignore rules for local development environment
  .archive/act-colima.sh
  .archive/validate-pipeline.sh
  .gitignore
Owners: @provide-io/engineering

chore: update gitignore with auto-generated patterns for CI artifacts and temporary files
  .gitignore
Owners: @provide-io/engineering

chore: update gitignore with auto-generated patterns for CI artifacts and temporary files
  .gitignore
Owners: @provide-io/engineering

chore: update CI automation scripts and ignore rules for local development environment
  .archive/act-colima.sh
  .archive/validate-pipeline.sh
  .gitignore
Owners: @provide-io/engineering

chore: update project documentation structure and ignore rules
  .gitignore
  docs/archive/ARCHITECTURAL_ANALYSIS.md
  docs/archive/SUPPLEMENTARY_ANALYSIS.md
Owners: @provide-io/engineering, @provide-io/documentation

chore: update project documentation structure and ignore rules
  .gitignore
  docs/archive/ARCHITECTURAL_ANALYSIS.md
  docs/archive/SUPPLEMENTARY_ANALYSIS.md
Owners: @provide-io/engineering, @provide-io/documentation

chore: update gitignore and secrets configuration for auto-commit workflow
  .gitignore
  .secrets
Owners: @provide-io/engineering

chore: update project configuration files for automated maintenance
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

chore: update project configuration files for automated maintenance
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: update gitignore and secrets configuration for auto-commit workflow
  .gitignore
  .secrets
Owners: @provide-io/engineering

chore: update project configuration for automated commits
  pyproject.toml
Owners: @provide-io/python-maintainers

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers
