Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

feat: Standardize workflows to two-file pattern
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

feat: Standardize workflows to two-file pattern
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

bump: Increment version to 0.0.116
  VERSION
Owners: @provide-io/engineering

bump: Increment version to 0.0.116
  VERSION
Owners: @provide-io/engineering

refactor: Use centralized GitHub auth action from ci-tooling
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

chore(release): update release workflow and project metadata for automation
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

feat(version): Add smart TestPyPI version generation logic
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat(release): Standardize release workflow with flexible publishing options
  .github/workflows/release.yml
Owners: @provide-io/devops

feat(release): Standardize release workflow with flexible publishing options
  .github/workflows/release.yml
Owners: @provide-io/devops

feat(version): Add smart TestPyPI version generation logic
  .github/workflows/cd.yml
Owners: @provide-io/devops

chore(release): update release workflow and project metadata for automation
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

refactor: Use centralized GitHub auth action from ci-tooling
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

feat(workflow): Standardize CI/CD workflows to two-file pattern
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  VERSION
  pyproject.toml
Owners: @provide-io/devops, @provide-io/engineering, @provide-io/python-maintainers

feat(workflow): Standardize CI/CD workflows to two-file pattern
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  VERSION
  pyproject.toml
Owners: @provide-io/devops, @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/primitives/bool.py
  tests/conftest.py
  tests/conversion/test_inference_cache_context.py
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/primitives/bool.py
  tests/conftest.py
  tests/conversion/test_inference_cache_context.py
  tests/conversion/test_inference_concurrency_safety.py
Owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/primitives/bool.py
  tests/conversion/test_inference_cache_context.py
  tests/diagnostics/_helpers.py
  tests/diagnostics/test_diagnostics_tuple.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/primitives/bool.py
  tests/conversion/test_inference_cache_context.py
  tests/diagnostics/_helpers.py
  tests/diagnostics/test_diagnostics_tuple.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/engineering, @provide-io/qa-team, @provide-io/python-maintainers

chore(cty): update conversion module structure and caching logic
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/primitives/bool.py
  tests/conftest.py
  tests/conversion/test_inference_cache_context.py
  tests/conversion/test_inference_concurrency_safety.py
  tests/diagnostics/_helpers.py
  tests/diagnostics/test_diagnostics_tuple.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

qualify(diagnostics): add exception message tests for improved diagnostics coverage
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

chore(cty): update conversion module structure and caching logic
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/inference_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/types/primitives/bool.py
  tests/conftest.py
  tests/conversion/test_inference_cache_context.py
  tests/conversion/test_inference_concurrency_safety.py
  tests/diagnostics/_helpers.py
  tests/diagnostics/test_diagnostics_tuple.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

qualify(diagnostics): add exception message tests for improved diagnostics coverage
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/qa-team, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/primitives/bool.py
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/types/primitives/bool.py
  tests/diagnostics/test_exception_messages.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers
