Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/types/structural/object.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/numeric_functions.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/context/__init__.py
  src/pyvider/cty/context/validation_context.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/functions/structural_functions.py
  src/pyvider/cty/marks.py
  src/pyvider/cty/path/__init__.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/__init__.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/types/collections/__init__.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/__init__.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/number.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/__init__.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/markers.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/context/__init__.py
  src/pyvider/cty/context/validation_context.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/functions/structural_functions.py
  src/pyvider/cty/marks.py
  src/pyvider/cty/path/__init__.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/__init__.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/types/collections/__init__.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/primitives/__init__.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/number.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/__init__.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/markers.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/conversion/type_encoder.py
  src/pyvider/cty/exceptions/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/conversion/type_encoder.py
  src/pyvider/cty/exceptions/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/types/base.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/codec.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  src/pyvider/cty/codec.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/validation/recursion.py
Owners: @provide-io/engineering, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/_version.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/__init__.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/structural/dynamic.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
  src/pyvider/cty/codec.py
  src/pyvider/cty/parser.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/functions/__init__.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/validation.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/_version.py
  src/pyvider/cty/context/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/__init__.py
  src/pyvider/cty/types/__init__.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/types/collections/__init__.py
  src/pyvider/cty/types/primitives/__init__.py
  src/pyvider/cty/types/structural/__init__.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/markers.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/_version.py
  src/pyvider/cty/context/__init__.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/exceptions/__init__.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/__init__.py
  src/pyvider/cty/types/__init__.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/capsule_types.py
  src/pyvider/cty/types/collections/__init__.py
  src/pyvider/cty/types/primitives/__init__.py
  src/pyvider/cty/types/structural/__init__.py
  src/pyvider/cty/validation/__init__.py
  src/pyvider/cty/values/__init__.py
  src/pyvider/cty/values/markers.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/values/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/codec.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/values/__init__.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  src/pyvider/cty/conversion/_cache.py
Owners: @provide-io/python-maintainers
