Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

chore: auto-commit maintenance updates
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/py.typed
  src/pyvider/cty/types/base.py
  tests/compatibility/test_go_cty_compat.py
  tests/compatibility/test_tofusoup_compat.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

chore(pyproject): update project configuration metadata
  pyproject.toml
Owners: @provide-io/python-maintainers

chore(cty): auto-commit maintenance updates
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

chore(pyproject): update project configuration metadata
  pyproject.toml
Owners: @provide-io/python-maintainers

chore: update auto-generated files and examples for compatibility and performance checks
  compatibility/python/generator.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

chore(cty): auto-commit maintenance updates
  src/pyvider/cty/codec.py
  src/pyvider/cty/config/defaults.py
  src/pyvider/cty/conversion/_cache.py
  src/pyvider/cty/conversion/_utils.py
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/conversion/raw_to_cty.py
  src/pyvider/cty/exceptions/base.py
  src/pyvider/cty/exceptions/conversion.py
  src/pyvider/cty/exceptions/encoding.py
  src/pyvider/cty/exceptions/validation.py
  src/pyvider/cty/functions/bytes_functions.py
  src/pyvider/cty/functions/collection_functions.py
  src/pyvider/cty/functions/comparison_functions.py
  src/pyvider/cty/functions/conversion_functions.py
  src/pyvider/cty/functions/datetime_functions.py
  src/pyvider/cty/functions/encoding_functions.py
  src/pyvider/cty/functions/numeric_functions.py
  src/pyvider/cty/functions/string_functions.py
  src/pyvider/cty/parser.py
  src/pyvider/cty/path/base.py
  src/pyvider/cty/types/capsule.py
  src/pyvider/cty/types/collections/list.py
  src/pyvider/cty/types/collections/map.py
  src/pyvider/cty/types/collections/set.py
  src/pyvider/cty/types/primitives/bool.py
  src/pyvider/cty/types/primitives/string.py
  src/pyvider/cty/types/structural/object.py
  src/pyvider/cty/types/structural/tuple.py
  src/pyvider/cty/validation/recursion.py
  src/pyvider/cty/values/base.py
Owners: @provide-io/python-maintainers

chore: update auto-generated files and examples for compatibility and performance checks
  compatibility/python/generator.py
  examples/ch12_serialization.py
  examples/ch13_path_navigation.py
  examples/ch14_terraform_interop.py
  examples/ch15_terraform_interop.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

chore: auto-commit maintenance updates
  src/pyvider/cty/conversion/adapter.py
  src/pyvider/cty/conversion/explicit.py
  src/pyvider/cty/py.typed
  src/pyvider/cty/types/base.py
  tests/compatibility/test_go_cty_compat.py
  tests/compatibility/test_tofusoup_compat.py
Owners: @provide-io/python-maintainers, @provide-io/qa-team

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  CLAUDE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  CLAUDE.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  docs/api/context.md
  docs/api/conversion.md
  docs/api/functions.md
  docs/api/index.md
  docs/api/path.md
  docs/api/types/collections.md
  docs/api/types/index.md
  docs/api/types/primitives.md
  docs/api/types/structural.md
  docs/api/validation.md
  docs/api/values.md
Owners: @provide-io/documentation

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml.bak
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  mkdocs.yml.bak
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  compatibility/python/generator.py
  examples/ch07_structural_types.py
  examples/ch13_path_navigation.py
  examples/run_all_examples.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering

🔼⚙️ [skip ci] auto-commit
  compatibility/python/generator.py
  examples/ch07_structural_types.py
  examples/ch13_path_navigation.py
  examples/run_all_examples.py
  scripts/performance_characterization.py
  verify_headers_footers.py
Owners: @provide-io/engineering
