Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

Update CI to use v0.2.2 with proper bash error handling
  .github/workflows/ci.yml
Owners: @provide-io/devops

Update CI to use v0.2.2 with proper bash error handling
  .github/workflows/ci.yml
Owners: @provide-io/devops

Final test: Update CI to use v0.2.3 with proper output handling
  .github/workflows/ci.yml
Owners: @provide-io/devops

Final test: Update CI to use v0.2.3 with proper output handling
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Add parse-org-helpers action to CI workflow
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Add parse-org-helpers action to CI workflow
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Integrate GitHub auth setup for private repositories
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Integrate GitHub auth setup for private repositories
  .github/workflows/ci.yml
Owners: @provide-io/devops

fix: Correct GitHub auth action repository reference
  .github/workflows/ci.yml
Owners: @provide-io/devops

fix: Correct GitHub auth action repository reference
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Add local GitHub auth setup script
  .github/workflows/ci.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

feat: Add local GitHub auth setup script
  .github/workflows/ci.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

feat: Skip quality checks and add no-op deployment step
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Skip quality checks and add no-op deployment step
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Complete CI/CD pipeline with PyPI release
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

feat: Complete CI/CD pipeline with PyPI release
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/build-release.yml
  .github/workflows/ci.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/build-release.yml
  .github/workflows/ci.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat: Use uv build and uv publish for TestPyPI deployment
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat: Use uv build and uv publish for TestPyPI deployment
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Use standard PyPI dependency for provide-foundation
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Use standard PyPI dependency for provide-foundation
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Update provide-foundation version to allow dev releases
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Update provide-foundation version to allow dev releases
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Set all provide dependencies to >=0.0.0
  pyproject.toml
Owners: @provide-io/python-maintainers

fix: Set all provide dependencies to >=0.0.0
  pyproject.toml
Owners: @provide-io/python-maintainers
