Repository provide-io/pyvider-cty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/engineering, @provide-io/python-maintainers, @provide-io/qa-team, @provide-io/documentation, @provide-io/devops

.github/CODEOWNERS:

# CODEOWNERS for pyvider-cty
# These owners will be the default owners for everything in the repo.

# Global owners
* @provide-io/engineering

# Python source code
/src/ @provide-io/python-maintainers

# Tests
/tests/ @provide-io/qa-team @provide-io/python-maintainers

# Documentation
/docs/ @provide-io/documentation
*.md @provide-io/documentation

# CI/CD and DevOps
/.github/ @provide-io/devops
*.yml @provide-io/devops
*.yaml @provide-io/devops

# Dependencies
pyproject.toml @provide-io/python-maintainers
uv.lock @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat: Add smart version generation for TestPyPI
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat: Add smart version generation for TestPyPI
  .github/workflows/cd.yml
Owners: @provide-io/devops

refactor: Use reusable generate-testpypi-version action
  .github/workflows/cd.yml
Owners: @provide-io/devops

refactor: Use reusable generate-testpypi-version action
  .github/workflows/cd.yml
Owners: @provide-io/devops

feat: Add parse-org-helpers action to CI workflow
  .github/workflows/ci.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

fix(ci): correct repository URLs and dependency configuration for CI compatibility
  .github/workflows/ci.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

fix(ci): resolve UV build failures by correcting dependency sources
  .github/workflows/ci.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

fix(ci): correct repository URLs and dependency configuration for CI compatibility
  .github/workflows/ci.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

fix(ci): correct non-blocking quality checks in CI workflow
  .github/workflows/ci.yml
Owners: @provide-io/devops

fix(ci): correct non-blocking quality checks in CI workflow
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat(cicd): Complete CI/CD pipeline with PyPI release support
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

chore(ci): migrate workflows to ci-tooling and consolidate redundant files
  .github/workflows/ci-migrated.yml
  .github/workflows/ci-new.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .github/workflows/test-simple.yml
Owners: @provide-io/devops

feat(cicd): Complete CI/CD pipeline with PyPI release support
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @provide-io/devops

feat: Add parse-org-helpers action to CI workflow
  .github/workflows/ci.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

chore(ci): migrate workflows to ci-tooling and consolidate redundant files
  .github/workflows/ci-migrated.yml
  .github/workflows/ci-new.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .github/workflows/test-simple.yml
Owners: @provide-io/devops

fix(ci): resolve UV build failures by correcting dependency sources
  .github/workflows/ci.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

feat(release): Adopt uv for TestPyPI publishing workflow
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

feat(release): Adopt uv for TestPyPI publishing workflow
  .github/workflows/build-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

refactor: Use centralized GitHub auth action from ci-tooling
  .github/workflows/cd.yml
  .github/workflows/release.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

refactor: Use centralized GitHub auth action from ci-tooling
  .github/workflows/cd.yml
  .github/workflows/release.yml
  scripts/setup_github_auth.py
Owners: @provide-io/devops, @provide-io/engineering

fix: Update CI workflow to use centralized GitHub auth action
  .github/workflows/ci.yml
Owners: @provide-io/devops

fix: Update CI workflow to use centralized GitHub auth action
  .github/workflows/ci.yml
Owners: @provide-io/devops

feat: Standardize release workflow with flexible publishing options
  .github/workflows/release.yml
Owners: @provide-io/devops

feat: Standardize release workflow with flexible publishing options
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/release.yml
Owners: @provide-io/devops

🔼⚙️ [skip ci] auto-commit
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers

🔼⚙️ [skip ci] auto-commit
  .github/workflows/release.yml
  pyproject.toml
Owners: @provide-io/devops, @provide-io/python-maintainers
